{
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "useTabs": false,
    "trailingComma": "none",
    "semi": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "jsxBracketNewLine": false,
    "bracketSameLine": false,
    "bracketNewLine": false,
    "semiColon": false
}
